$bg-color: #eeeeee;
$SURFACE-COLOR: #ffffff;
$SURFACE-COLOR__HOVER: #eee;
$PRIMARY-COLOR: #7ed1ff;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto&dispay=swap');

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
