$translator-row-mode-height: 100%;
$translator-row-mode-width: 400px;
$translator-col-mode-height: 200px;
$translator-col-mode-width: 100%;
$translator-header-padding: 0.5rem;
$translator-color: #333;
$translator-bg-color: #fff;
$translator-font-size: 1.4rem;
$translator-padding: 1rem;
