$FILE-TABLE-HEAD-HEIGHT: 2.5rem;
$FILE-TABLE-VERTICAL-PADDING: 0 1rem;
$FILE-ICON-SIZE: 24px;
$FILE-ICON-MARGIN-RIGHT: 0.5rem;
$FILE-NAME-MARGIN-RIGHT: 1rem;
$FILE-DELETE-WIDTH: 2rem;
$FILE-LASTMODIFIED-WIDTH: 10rem;
$FILE-SIZE-WIDTH: 10rem;
$FILE-HEIGHT: 2.25rem;
$FILE-HEAD-BORDER-THICKNESS: 1px;
