$TRANSLATOR-ROW-MODE-HEIGHT: 100%;
$TRANSLATOR-ROW-MODE-WIDTH: 400px;
$TRANSLATOR-COL-MODE-HEIGHT: 200px;
$TRANSLATOR-COL-MODE-WIDTH: 100%;
$TRANSLATOR-LANGUAGE-SELECTOR-PADDING: 0.5rem;
$TRANSLATOR-COLOR: #333;
$TRANSLATOR-BG-COLOR: #fff;
$TRANSLATOR-FONT-SIZE: 1.4rem;
$TRANSLATOR-PADDING: 1rem;
